@charset "utf-8";
/*-------------------------------------------------------------------
	파일정의 : 컨텐츠 스타일
	작성날짜 : YYYY-MM-DD 홍길동
	참고사항 : 접근경로를 표시한다.
	분류순서 : 공통화면 > 메뉴화면 > 팝업화면
	속성순서 : 표시 > 위치 > 넘침/흐름 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    ##공통화면
-------------------------------------------------------------------*/
/* 화면명 */

/*-------------------------------------------------------------------
    ##Intro
-------------------------------------------------------------------*/
/* Layout */
.intro-page {height:250px; @extend %centered-c;}

/* Header */
.intro-header .tit-wrap {text-align:center;}
.intro-header .tit-h1 {font-family:'NSB'; font-size:36px; color:#fff;}
.intro-header .btn-area {margin-top:40px;}

/* Navigation */
.intro-nav {overflow:hidden; margin-top:100px; font-size:16px; text-align:center; color:#fff;}
.intro-nav ul {display:inline-block;}
.intro-nav li {display:inline-block;}
.intro-nav li a {display:inline-block; padding:5px 10px; border:1px solid transparent; border-radius:20px;}
.intro-nav li a:hover,
.intro-nav li a:focus {border-color:#fff;}
.intro-nav li em {display:block;}
.intro-nav li small {display:none; color:#999; font-family:'NSL'; font-size:12px;}

/*-------------------------------------------------------------------
    ##Popup
-------------------------------------------------------------------*/
/* 메뉴명 > 화면명 > 팝업명 */