@charset "UTF-8";
/*-------------------------------------------------------------------
	파일정의 : Settings
	작성날짜 : 2018-11-18 조찬기
	참고사항 : 이 파일은 설정값만 정의한다.
	분류순서 : 기본정책 > 유틸리티 > 사용자정의(컬러, 폰트, 보더, 간격 등)
	속성순서 : 표시 > 위치 > 넘침/흐름 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
	Variables
-------------------------------------------------------------------*/
/* 기본정책 */
/* 컬러 - 명암 */
/* 컬러 - 의미 */
/*-------------------------------------------------------------------
	@Extend
	- 클래스선택자를 정의할 경우 common.css에 정의한다.
	- 선언 : %selector1
	- 활용 : selector2 {@extend %selector1}
-------------------------------------------------------------------*/
/* Floating Clear */
/* selector::after {@extend %clear-b;} */
/* Layer Align */
@import url(plugins.css);
#header .tit-wrap {
  position: absolute !important;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/*-------------------------------------------------------------------
	@include
	- 선언 : @mixin mixTransition($value) {property:$value}
	- 활용 : selector {@include mixTransition(all 0.3s)}
-------------------------------------------------------------------*/
/* CSS3 - CrossBrowser */
/*-------------------------------------------------------------------
	파일정의 : 초기화 스타일
	작성날짜 : YYYY-MM-DD 홍길동
	분류순서 : Base > Fonts
	속성순서 : 표시 > 위치 > 넘침/흐름 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    ##Base
-------------------------------------------------------------------*/
html, body, div, ul, ol, dl, li, dt, dd, p, h1, h2, h3, h4, h5, h6, table, th, td, caption, address, article, aside, canvas, details, figure, figcaption, footer, header, menu, nav, section, button, select, textarea, input, fieldset, legend, a, span, strong, em, address, dfn, small, i, b {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  word-break: break-all;
  font-style: normal;
  font-size: 100%; }

:before, :after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box; }

article, aside, canvas, details, figure, figcaption, footer, header, menu, nav, section {
  display: block; }

html, body, th, td, select, textarea, input, button {
  font-family: "Lato","Helvetica Neue","NSR", "Dotum", "Dotumche", "돋움", "돋움체", "Arial"; }

html {
  font-size: 14px; }

body {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none; }

[hidden], hr {
  display: none; }

img {
  vertical-align: middle; }

button {
  background-color: transparent;
  cursor: pointer; }

fieldset, iframe {
  width: 100%; }

img, a, frame, iframe, fieldset {
  border: 0; }

a {
  color: #333;
  text-decoration: none; }

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse; }

caption {
  height: 0;
  overflow: hidden; }

legend {
  position: absolute;
  left: -9999em;
  top: -9999em; }

/*-------------------------------------------------------------------
    ##Fonts
-------------------------------------------------------------------*/
@font-face {
  font-family: "NST";
  src: url("../fonts/NotoSans-Thin.eot");
  src: local("※"), url("../fonts/NotoSans-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Thin.woff") format("woff"); }

@font-face {
  font-family: "NSL";
  src: url("../fonts/NotoSans-Light.eot");
  src: local("※"), url("../fonts/NotoSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Light.woff") format("woff"); }

@font-face {
  font-family: "NSR";
  src: url("../fonts/NotoSans-Regular.eot");
  src: local("※"), url("../fonts/NotoSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Regular.woff") format("woff"); }

@font-face {
  font-family: "NSM";
  src: url("../fonts/NotoSans-Medium.eot");
  src: local("※"), url("../fonts/NotoSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Medium.woff") format("woff"); }

@font-face {
  font-family: "NSB";
  src: url("../fonts/NotoSans-Bold.eot");
  src: local("※"), url("../fonts/NotoSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Bold.woff") format("woff"); }

/*-------------------------------------------------------------------
	파일정의 : 전역스타일 공통
	작성날짜 : YYYY-MM-DD 홍길동
	참고사항 : 가이드화 하는 것을 권장하며, 예외의 경우에만 사용한다.
	분류순서 : General > Grid Layout > Custom Color > Fixed Size & Gutter
	속성순서 : 표시 > 위치 > 넘침/흐름 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    ##General
-------------------------------------------------------------------*/
/* IR */
.blind {
  position: absolute;
  top: -999em;
  left: -999em;
  z-index: 0;
  width: 1px;
  height: 1px;
  overflow: hidden; }

.blind-area {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0; }

/* Align */
.align-t {
  vertical-align: top !important; }

.align-m {
  vertical-align: middle !important; }

.align-b {
  vertical-align: bottom !important; }

.align-l {
  text-align: left !important; }

.align-c {
  text-align: center !important; }

.align-r {
  text-align: right !important; }

.align-j {
  text-align: justify;
  -moz-text-align-last: justify;
  -webkit-text-align-last: justify;
  text-align-last: justify; }

/* Console Log */
.consoleLog {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 2000;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2); }

.consoleLog::before {
  content: 'Log View';
  display: block;
  padding: 5px 10px 7px;
  background-color: #f5f5f5;
  font-size: 14px; }

.consoleLog .consoleLog-scroll {
  max-height: 70vh;
  overflow-y: auto; }

.consoleLog .consoleLog-item {
  display: block;
  padding: 5px 10px 6px;
  word-break: break-all;
  font-size: 12px; }

.consoleLog .consoleLog-item + .js-consoleLog-item {
  border-top: 1px solid #f5f5f5; }

/*-------------------------------------------------------------------
    ##Layout
-------------------------------------------------------------------*/
/* Grid */
.grid:after {
  clear: both;
  display: block;
  content: ''; }

.grid > .col {
  float: left;
  width: 100%;
  min-height: 1px;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s; }

.grid > .col.right {
  float: right; }

/* 너비 - 자신 칸수 */
.grid > .col.col-1 {
  width: 8.33333333%; }

.grid > .col.col-2 {
  width: 16.6666%; }

.grid > .col.col-3 {
  width: 25%; }

.grid > .col.col-4 {
  width: 33.3333%; }

.grid > .col.col-5 {
  width: 41.66666667%; }

.grid > .col.col-6 {
  width: 50%; }

.grid > .col.col-7 {
  width: 58.33333333%; }

.grid > .col.col-8 {
  width: 66.66666667%; }

.grid > .col.col-9 {
  width: 75%; }

.grid > .col.col-10 {
  width: 83.33333334%; }

.grid > .col.col-11 {
  width: 91.66666667%; }

.grid > .col.col-12 {
  width: 100%; }

/* 너비 - 자식 칸수 */
.grid.col-2 > .col {
  width: 50%; }

.grid.col-3 > .col {
  width: 33.3333%; }

.grid.col-3 > .col:first-child {
  width: 33.3334%; }

.grid.col-4 > .col {
  width: 25%; }

.grid.col-5 > .col {
  width: 20%; }

.grid.col-6 > .col {
  width: 16.6666%; }

.grid.col-6 > .col:first-child {
  width: 16.667%; }

.grid.col-7 > .col {
  width: 14.2857142%; }

.grid.col-7 > .col:first-child {
  width: 14.2857148%; }

.grid.col-8 > .col {
  width: 12.5%; }

.grid.col-9 > .col {
  width: 11.1111%; }

.grid.col-9 > .col:first-child {
  width: 11.1112%; }

.grid.col-10 > .col {
  width: 10%; }

.grid.col-12 > .col {
  width: 8.3333%; }

.grid.col-12 > .col:first-child {
  width: 8.3334%; }

/*-------------------------------------------------------------------
	파일정의 : 레이아웃 스타일
	작성날짜 : YYYY-MM-DD 홍길동
	참고사항 : 레이아웃, 상세스타일, 메뉴스타일 분류
	분류순서 : Wrapper > Header > Content > Footer > Navigation
	속성순서 : 표시 > 위치 > 넘침/흐름 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    ## Wrapper
-------------------------------------------------------------------*/
/* SkipNav */
#skipNav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0; }

#skipNav a {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  line-height: 30px;
  background-color: #000;
  color: #fff;
  text-align: center;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }

#skipNav a:focus {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%); }

/* Wrapper Layout */
html, body {
  height: 100%; }

#wrapper {
  min-height: 100%; }

#header {
  position: relative;
  width: 100%;
  height: 400px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#504e77+0,7c407a+100 */
  background: #504e77;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #504e77 0%, #7c407a 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #504e77 0%, #7c407a 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(45deg, #504e77 0%, #7c407a 100%);
  background: linear-gradient(45deg, #504e77 0%, #7c407a 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }

/*-------------------------------------------------------------------
    ## Header
-------------------------------------------------------------------*/
#header .tit-wrap {
  text-align: center;
  margin-top: 30px; }

#header .tit-h1 {
  font-family: 'NSB';
  font-size: 36px;
  color: #fff; }

#header .btn-area {
  margin-top: 20px; }

/*-------------------------------------------------------------------
    ## Content
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    ## Footer
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
	파일정의 : UI Modules
	작성날짜 : YYYY-MM-DD 홍길동
	참고사항 : 공통 범위를 최소화하고, 컨텐츠 스타일로 구분한다.
	분류순서 : Element > Block > Layout > Plugin
	속성순서 : 표시 > 위치 > 넘침/흐름 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    ##UI
-------------------------------------------------------------------*/
/* Default */
/* Common */
/* Design */
/*-------------------------------------------------------------------
    ##Button
-------------------------------------------------------------------*/
/* Default */
button {
  overflow: hidden;
  padding: 0px;
  border: 0px;
  font-weight: normal;
  background-color: transparent;
  cursor: pointer; }

button::-moz-focus-inner {
  border: 0px;
  padding: 0px; }

.btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer; }

.btn > span {
  display: inline-block;
  height: 100%; }

.btn:focus, .btn:hover {
  -webkit-transition-property: background-color, color, opacity;
  -o-transition-property: background-color, color, opacity;
  transition-property: background-color, color, opacity;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.btn-ico {
  text-align: center;
  line-height: 1;
  font-size: 0; }

.btn-ico > span {
  display: inline-block;
  width: 100%; }

/* Common */
/* Design */
.btn-type1 {
  padding: 10px 50px;
  border-radius: 40px;
  background-color: #00bc8a;
  color: #fff;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  font-family: 'NSL'; }

.btn-type1 strong {
  font-weight: normal;
  font-size: 22px;
  font-family: 'NSR'; }

/*-------------------------------------------------------------------
    ##ICON
-------------------------------------------------------------------*/
/* Default */
.bul, .ico {
  display: inline-block;
  background: url() no-repeat 0 0;
  vertical-align: middle;
  overflow: hidden;
  color: transparent;
  text-indent: -999px;
  white-space: nowrap; }

/* Styles */
.bul-check {
  width: 24px;
  height: 23px;
  background-image: url(/Home/img/cmn/bul_check.png); }

/*-------------------------------------------------------------------
    ##Tabs
-------------------------------------------------------------------*/
/* Default */
.tab-nav ul::after {
  display: block;
  clear: both;
  content: ''; }

.tab-nav li {
  position: relative;
  float: left;
  text-align: center; }

.tab-nav li > a {
  display: block;
  padding: 10px; }

.tab-nav li.current > a::after,
.tab-nav li.is-active > a::after {
  position: absolute;
  top: -9999px;
  content: '선택됨'; }

.tab-content {
  display: none;
  padding: 10px; }

.tab-content.is-active {
  display: block; }

/* Common */
/* Design */
/*-------------------------------------------------------------------
	##Accordion
-------------------------------------------------------------------*/
/* Default */
.accordion-content {
  display: none; }

.accordion-content.is-active {
  display: block; }

.accordion-title .accordion-toggle {
  position: relative;
  z-index: 2;
  text-align: left; }

.accordion-title .accordion-toggle .arw {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-75%) rotate(-135deg);
  -ms-transform: translateY(-75%) rotate(-135deg);
  transform: translateY(-75%) rotate(-135deg);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

.accordion-title.is-active .accordion-toggle .arw {
  -webkit-transform: translateY(-25%) rotate(45deg);
  -ms-transform: translateY(-25%) rotate(45deg);
  transform: translateY(-25%) rotate(45deg); }

/*-------------------------------------------------------------------
    ##Folder
-------------------------------------------------------------------*/
/* Default */
.folder-header {
  position: relative; }

.folder-target {
  display: none; }

/*-------------------------------------------------------------------
    ##Tooltip
-------------------------------------------------------------------*/
/* Default */
/*-------------------------------------------------------------------
    ##Popup
-------------------------------------------------------------------*/
/* Basic */
/* Full */
/* Alert */
/* Error */
/* Message */
/* Select */
/* Event */
/*-------------------------------------------------------------------
	파일정의 : 컨텐츠 스타일
	작성날짜 : YYYY-MM-DD 홍길동
	참고사항 : 접근경로를 표시한다.
	분류순서 : 공통화면 > 메뉴화면 > 팝업화면
	속성순서 : 표시 > 위치 > 넘침/흐름 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    ##공통화면
-------------------------------------------------------------------*/
/* 화면명 */
/*-------------------------------------------------------------------
    ##Intro
-------------------------------------------------------------------*/
/* Intro */
.intro-nav {
  overflow: hidden;
  margin-top: 100px;
  font-size: 20px;
  text-align: center; }

.intro-nav ul {
  display: inline-block;
  width: 170px;
  margin: -20px 0;
  text-align: left; }

.intro-nav li {
  margin: 20px 0; }

.intro-nav li a {
  display: block;
  color: #333;
  white-space: nowrap; }

.intro-nav li a:hover,
.intro-nav li a:focus {
  color: #d3002e; }

.intro-nav li em {
  display: block;
  width: 120px; }

.intro-nav li small {
  display: none;
  color: #999;
  font-family: 'NSL';
  font-size: 12px; }

.intro-nav .bul {
  margin-right: 10px; }

/*-------------------------------------------------------------------
    ##Popup
-------------------------------------------------------------------*/
/* 메뉴명 > 화면명 > 팝업명 */
/*-------------------------------------------------------------------
	파일정의 : 메인컨텐츠 스타일
	작성날짜 : YYYY-MM-DD 홍길동
	참고사항 : 서브스타일과 메인스타일의 분리
	분류순서 : 레이아웃 > 공통디자인 > 컨텐츠
	속성순서 : 표시 > 위치 > 넘침/흐름 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    ##레이아웃
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    ##공통디자인
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    ##컨텐츠
-------------------------------------------------------------------*/
