@charset "utf-8";

//-------------------------------------------------------------------
//    ## Setting
//-------------------------------------------------------------------
// Default
$layout-wid: 1600px;		//레이아웃 가로사이즈
$layout-wid-min: 1024px;	//레이아웃 가로사이즈
$layout-gut: 30px;			//레이아웃 기본여백
$layout-align: 0;			//레이아웃 배치정렬
$layout-aside: 200px;		//레이아웃 Aside영역

// Utility
%clear {content:''; clear:both; display:block;}
%centered-t {position:absolute !important; left:50%; top:0; transform:translateX(-50%);}
%centered-r {position:absolute !important; right:0; top:50%; transform:translateY(-50%);}
%centered-b {position:absolute !important; left:50%; bottom:0; transform:translateX(-50%);}
%centered-l {position:absolute !important; left:0; top:50%; transform:translateY(-50%);}
%centered-c {position:absolute !important; left:50%; top:50%; transform:translate(-50%,-50%);}

// UI
