@charset "utf-8";
@import 'std_variable';
/*-------------------------------------------------------------------
    파일정의 : 레이아웃 스타일
	작성날짜 : YYYY-MM-DD 홍길동
    참고사항 : 레이아웃, 상세스타일, 메뉴스타일 분류
    분류순서 : Wrapper > Header > Content > Footer > Navigation
    속성순서 : 표시 > 위치 > 넘침/흐름 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    ## Wrapper
-------------------------------------------------------------------*/
/* SkipNav */
#skipNav {position:absolute; left:0; top:0; width:100%; height:0; z-index:110;}
#skipNav a {display:block; position:absolute; left:0; bottom:0; width:100%; line-height:30px; background-color:#000; color:#fff; text-align:center; transform:translateY(0);}
#skipNav a:focus {transform:translateY(100%);}

/* Common Layout */
.out-sec {min-width:$layout-wid-min;}
.in-sec {padding:0 $layout-gut;}

/* Wrapper Layout */
html, body, #wrapper {height:100%;}
#asideMenu {display:none; position:fixed; z-index:1001; left:0; right:0; width:100%; height:100%; padding:20px; background-color:#fff;}
#header {position:absolute; z-index:103; top:0; left:0; width:100%; height:72px; background-color:#fff; border-bottom:1px solid #ddd;}
#container {min-height:100%; padding:72px 0 40px;}
#footer {position:absolute; z-index:102; bottom:0; left:$layout-aside; right:0; min-width:auto; height:40px; background-color:#fff; color:#666;}
.header-inner {height:100%;}
.footer-inner {max-width:100%;}


/*-------------------------------------------------------------------
    ## Aside
-------------------------------------------------------------------*/
/* Aside Area */
.aside-menu .btn-anb {position:absolute; right:10px; top:10px;}

/*-------------------------------------------------------------------
    ## Header
-------------------------------------------------------------------*/
/* Header Layout */
.header-logo {position:absolute; top:50%; transform:translateY(-50%);}
.header-logo .logo {color:#000; font-size:20px; font-family:'NSB';}
.header-drawer {@extend %centered-l; left:180px;}
.header-search {@extend %centered-r; right:$layout-gut;}

/* Header UI */
.btn-drawer {position:relative; width:44px; height:44px;}
.btn-drawer:after, .btn-drawer:before {content:''}
.btn-drawer span, .btn-drawer:after, .btn-drawer:before {display:block; width:22px; height:2px; background-color:#333; overflow:hidden; color:transparent; @extend %centered-l; left:11px;}
.btn-drawer:before {margin-top:-7px;}
.btn-drawer span {width:18px;}
.btn-drawer:after {margin-top:7px;}

/*-------------------------------------------------------------------
    ## Footer
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
    ## Navigation
-------------------------------------------------------------------*/
/* GNB (Global Nav) */
$gnb-node1-gut: 25px;
.gnb {@extend %centered-r;}
.gnb .node1-list {position:relative; white-space:nowrap; margin:0 -25px;}
.gnb .node1-item {display:inline-table; position:relative;}
.gnb .node1-link {display:block; position:relative; padding:0 $gnb-node1-gut; line-height:30px; color:#555;}
.gnb .node1-link:after {content:''; position:absolute; bottom:0; left:50%; right:50%; height:2px; background-color:#000; transition:left right 0.3s;}
.gnb .node2-wrap {display:none; position:absolute; left:50%; top:100%; padding-top:5px; transform:translateX(-50%);  transform:translateX(-50%);}
.gnb .node2-list {padding:10px 5px; background-color:#fff; border:1px solid #ddd; border-radius:3px;}
.gnb .node2-link {display:block; padding:0 15px; line-height:24px; font-size:12px; color:#333;}

.gnb .node1-link:focus,
.gnb .node1-link:hover,
.gnb .node1-link:active,
.gnb .is-active > .node1-link,
.gnb .is-current > .node1-link {color:#000;}
.gnb .is-current > .node1-link:after {left:$gnb-node1-gut; right:$gnb-node1-gut;}
.gnb .node2-link:focus,
.gnb .node2-link:hover,
.gnb .node2-link:active,
.gnb .is-active > .node2-link,
.gnb .is-current > .node2-link {color:#000;}
.gnb .is-active > .node2-wrap {display:block;}
