@charset "utf-8";
//-------------------------------------------------------------------
//	파일정의 : Settings
//	작성날짜 : 2018-11-18 조찬기
//	참고사항 : 이 파일은 설정값만 정의한다.
//-------------------------------------------------------------------
//-------------------------------------------------------------------
//	Font Family
//  [출처] https://est0que.tistory.com/2116
//-------------------------------------------------------------------
// Fonts - Familys
//$font-ios: 'AppleSDGothicNeo', 'Apple SD 산돌고딕 Neo', 'AppleGothic';
//$font-and: 'NotoSans';
//$font-ms: 'Microsoft NeoGothic';
//$font-cm: 'sans-serif';

// Fonts - Notosans
$font-nts-ul: 'NotoSans-DemiLight';
$font-nts-l: 'NotoSans-Light';
$font-nts-r: 'NotoSans-Regular';
$font-nts-m: 'NotoSans-Medium';
$font-nts-b: 'NotoSans-Bold';

// Fonts - Roboto
$font-rob-l: 'Roboto-Light';
$font-rob-r: 'Roboto-Regular';
$font-rob-m: 'Roboto-Medium';
$font-rob-b: 'Roboto-Bold';

//-------------------------------------------------------------------
//	Width, Height, Gutter
//-------------------------------------------------------------------
// Default
$gut-default: 2rem; //헤더-간격-사이드

//-------------------------------------------------------------------
//	Color, Gradient
//-------------------------------------------------------------------
// 강조
$c-primary: rgb(255,53,63);

// 그레이스케일
$c-gray5: rgb(51,51,51);

// 그라데이션
%gra-primary {
	background: rgb(252,8,20); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgb(223,40,120) 0%, rgb(252,8,20) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgb(223,40,120) 0%,rgb(252,8,20) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgb(223,40,120) 0%,rgb(252,8,20) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

//-------------------------------------------------------------------
//	Utility
//-------------------------------------------------------------------
// Floating Clear
%clear {content:''; clear:both; display:block;} // selector::after {@extend %clear-b;}
