<!doctype html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<script src="../../_wsg/js/wsg_include.js"></script>
<script>include.meta()</script>
<script>include.head()</script>
</head>
<body>
<div id="g-wrapper">
	<script>include.header()</script>
	<div id="g-container">
		<script>include.aside.init()</script>

		<!-- Content -->
		<article id="g-content">
			<div class="g-content-header">
				<h1 class="g-h1">Common</h1>
				<p class="g-explain-h1">마크업뷰중심 + 일부컨텐츠 </p>
			</div>
			<div class="g-content-body">
				<!-- Section -->
				<section class="g-section g-in-sec">
					<div class="g-section-header">
						<h2 class="g-h2">폰트</h2>
					</div>
					<div class="g-section-body">
						<div class="g-example-wrap">
							<div class="g-example-header">
								<strong class="g-example-tit is-before"></strong>
								<div class="g-example-nav">
									<span class="g-example-txt"></span>
								</div>
							</div>
							<div class="g-example-body">
								<div class="g-example-preview">
									<ul class="g-desc">
										<li><a href="/STD_Files/Fonts/NotoSans.zip" class="g-link-basic">본고딕</a></li>
										<li><a href="/STD_Files/Fonts/Roboto.zip" class="g-link-basic">로보토</a></li>
										<li><a href="/STD_Files/Fonts/NanumGothic.zip" class="g-link-basic">나눔고딕</a></li>
										<li><a href="/STD_Files/Fonts/NanumSquare.zip" class="g-link-basic">나눔스퀘어</a></li>
										<li><a href="/STD_Files/Fonts/NanumSquareRound.zip" class="g-link-basic">나눔스퀘어라운드</a></li>
										<li><a href="/STD_Files/Fonts/NanumBarunGothic.zip" class="g-link-basic">나눔바른고딕</a></li>
										<li><a href="/STD_Files/Fonts/RixSGo.zip" class="g-link-basic">릭스고딕</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- //Section -->
				<!-- Section -->
				<section class="g-section g-in-sec">
					<div class="g-section-header">
						<h2 class="g-h2">작업폴더</h2>
					</div>
					<div class="g-section-body">
						<div class="g-example-wrap">
							<div class="g-example-header">
								<strong class="g-example-tit is-before"></strong>
								<div class="g-example-nav">
									<span class="g-example-txt"></span>
								</div>
							</div>
							<div class="g-example-body">
								<div class="g-example-preview">
									<ul class="g-desc">
										<li><a href="/STD_Files/STD_GD/STD_GD_HTML_v1.0.zip" class="g-link-basic">STD_GD_HTML_v1.0</a></li>
									</ul>
								</div>
							</div>
							<div class="g-example-guide">
								<ul class="g-desc">
									<li>기본폰트 : 본고딕</li>
									<li>작업환경 : SASS</li>
								</ul>
							</div>
						</div>
					</div>
				</section>
				<!-- //Section -->

				<!-- Section -->
				<section class="g-section g-in-sec">
					<div class="g-section-header">
						<h2 class="g-h2">현황판</h2>
					</div>
					<div class="g-section-body">
						<div class="g-example-wrap">
							<div class="g-example-header">
								<strong class="g-example-tit is-before"></strong>
								<div class="g-example-nav">
									<span class="g-example-txt"></span>
									<a href="javascript:;" class="g-example-btn">SCRIPT</a>
								</div>
							</div>
							<div class="g-example-body">
								<div class="g-example-preview">
									<ul class="g-desc">
										<li><a href="/STD_Files/STD_GD/STD_GD_IA_v1.0.zip" class="g-link-basic">현황판 v1.0</a></li>
									</ul>
								</div>
							</div>
							<div class="g-example-guide">
								<ul class="g-desc">
									<li>메뉴폴더설정 : /_ia/ia.js</li>
								</ul>
							</div>
							<div class="g-example-footer">
								<pre class="brush:js">
									//메뉴폴더설정
									baseUrl : 'html/'
								</pre>
							</div>
						</div>
					</div>
				</section>
				<!-- //Section -->

				<!-- Section -->
				<section class="g-section g-in-sec">
					<div class="g-section-header">
						<h2 class="g-h2">가이드라인</h2>
					</div>
					<div class="g-section-body">
						<div class="g-example-wrap">
							<div class="g-example-header">
								<strong class="g-example-tit is-before"></strong>
								<div class="g-example-nav">
									<span class="g-example-txt"></span>
									<a href="javascript:;" class="g-example-btn">SCRIPT</a>
								</div>
							</div>
							<div class="g-example-body">
								<div class="g-example-preview">
									<ul class="g-desc">
										<li><a href="/STD_Files/STD_GD/STD_GD_WSG_v1.0.zip" class="g-link-basic">가이드라인 v1.0</a></li>
									</ul>
								</div>
							</div>
							<div class="g-example-guide">
								<ul class="g-desc">
									<li>루트폴더설정 : /_wsg/js/wsg_include.js</li>
								</ul>
							</div>
							<div class="g-example-footer">
								<pre class="brush:js">
									//루트폴더설정
									var gRootURL = {
										root : '/',
									}
								</pre>
							</div>
						</div>
					</div>
				</section>
				<!-- //Section -->

				<!-- Section -->
				<section class="g-section g-in-sec">
					<div class="g-section-header">
						<h2 class="g-h2">Full Version</h2>
					</div>
					<div class="g-section-body">
						<div class="g-example-wrap">
							<div class="g-example-header">
								<strong class="g-example-tit is-before"></strong>
								<div class="g-example-nav">
									<span class="g-example-txt"></span>
								</div>
							</div>
							<div class="g-example-body">
								<div class="g-example-preview">
									<ul class="g-desc">
										<li><a href="/STD_Files/STD_GD/STD_GD_v1.0.zip" class="g-link-basic">풀버전 v1.0</a></li>
									</ul>
								</div>
							</div>
							<div class="g-example-guide">
								<ul class="g-desc">
									<li>현황판, 가이드라인, 작업폴더의 구성</li>
									<li>약간의 작업결과물도 포함하지 않는다.</li>
									<li>최초 시작할때의 기본문서인 default.html만 제공한다.</li>
								</ul>
							</div>
						</div>
					</div>
				</section>
				<!-- //Section -->

				<!-- Section -->
				<section class="g-section g-in-sec">
					<div class="g-section-header">
						<h2 class="g-h2">Layout</h2>
					</div>
					<div class="g-section-body">
						<div class="g-example-wrap">
							<div class="g-example-header">
								<strong class="g-example-tit">Markup Codeview</strong>
								<div class="g-example-nav">
									<span class="g-example-txt"></span>
									<a href="javascript:;" class="g-example-btn">HTML</a>
									<a href="javascript:;" class="g-example-btn">CSS</a>
									<a href="javascript:;" class="g-example-btn">SCRIPT</a>
								</div>
							</div>
							<div class="g-example-body">
								<div class="g-example-preview">
									<a href="cmn/std_default.html" class="g-link-basic" target="_blank" title="새창">Layout Default</a>
								</div>
							</div>
							<div class="g-example-guide">
								<ul class="g-desc">
									<li>기본으로 제공하지 않으며, 필수적인 구조화만 제작되었다.</li>
									<li>배치 : 위치에 대한 방향성이 있는 경우, 영역크기 및 간격의 변화에 유동적이어야 한다.</li>
									<li>그룹 : 방향성이 동일한 것들은 그룹핑되어야 한다.</li>
									<li>네임 : 변화에 영향받지 않는 고유한 의미여야 한다.</li>
									<li>구조 : 레이아웃, UI, 인라인컨텐츠로 구분해서 설계한다.</li>
								</ul>
							</div>
							<div class="g-example-footer">
								<pre class="brush:html">
									&lt;div id="wrapper">
										&lt;!-- SkipNav -->
										&lt;div id="skipNav">
											&lt;a href="#content">컨텐트 바로가기&lt;/a>
										&lt;/div>
										&lt;!-- //SkipNav -->

										&lt;!-- Aside -->
										&lt;aside id="asideMenu" class="aside-menu">
											&lt;div class="aside-body">
												&lt;nav class="mnb">
													&lt;div class="node1-wrap">
														&lt;ul class="node1-list">
															&lt;li class="node1-item is-current">
																&lt;a href="#" class="node1-link">Menu1&lt;/a>
																&lt;div class="node2-wrap">
																	&lt;ul class="node2-list">
																		&lt;li class="node2-item">&lt;a href="#" class="node2-link">Menu11&lt;/a>&lt;/li>
																		&lt;li class="node2-item">&lt;a href="#" class="node2-link">Menu12&lt;/a>&lt;/li>
																		&lt;li class="node2-item">&lt;a href="#" class="node2-link">Menu13&lt;/a>&lt;/li>
																		&lt;li class="node2-item">&lt;a href="#" class="node2-link">Menu14&lt;/a>&lt;/li>
																	&lt;/ul>
																&lt;/div>
															&lt;/li>
															&lt;li class="node1-item">
																&lt;a href="#" class="node1-link">Menu2&lt;/a>
																&lt;div class="node2-wrap">
																	&lt;ul class="node2-list">
																		&lt;li class="node2-item">&lt;a href="#" class="node2-link">Menu21&lt;/a>&lt;/li>
																		&lt;li class="node2-item">&lt;a href="#" class="node2-link">Menu22&lt;/a>&lt;/li>
																		&lt;li class="node2-item">&lt;a href="#" class="node2-link">Menu23&lt;/a>&lt;/li>
																		&lt;li class="node2-item">&lt;a href="#" class="node2-link">Menu24&lt;/a>&lt;/li>
																	&lt;/ul>
																&lt;/div>
															&lt;/li>
															&lt;li class="node1-item">
																&lt;a href="#" class="node1-link">Menu3&lt;/a>
																&lt;div class="node2-wrap">
																	&lt;ul class="node2-list">
																		&lt;li class="node2-item">&lt;a href="#" class="node2-link">Menu31&lt;/a>&lt;/li>
																		&lt;li class="node2-item">&lt;a href="#" class="node2-link">Menu32&lt;/a>&lt;/li>
																		&lt;li class="node2-item">&lt;a href="#" class="node2-link">Menu33&lt;/a>&lt;/li>
																		&lt;li class="node2-item">&lt;a href="#" class="node2-link">Menu34&lt;/a>&lt;/li>
																	&lt;/ul>
																&lt;/div>
															&lt;/li>
															&lt;li class="node1-item">
																&lt;a href="#" class="node1-link">Menu4&lt;/a>
																&lt;div class="node2-wrap">
																	&lt;ul class="node2-list">
																		&lt;li class="node2-item">&lt;a href="#" class="node2-link">Menu41&lt;/a>&lt;/li>
																		&lt;li class="node2-item">&lt;a href="#" class="node2-link">Menu42&lt;/a>&lt;/li>
																		&lt;li class="node2-item">&lt;a href="#" class="node2-link">Menu43&lt;/a>&lt;/li>
																		&lt;li class="node2-item">&lt;a href="#" class="node2-link">Menu44&lt;/a>&lt;/li>
																	&lt;/ul>
																&lt;/div>
															&lt;/li>
															&lt;li class="node1-item">
																&lt;a href="#" class="node1-link">Menu5&lt;/a>
																&lt;div class="node2-wrap">
																	&lt;ul class="node2-list">
																		&lt;li class="node2-item">&lt;a href="#" class="node2-link">Menu51&lt;/a>&lt;/li>
																		&lt;li class="node2-item">&lt;a href="#" class="node2-link">Menu52&lt;/a>&lt;/li>
																		&lt;li class="node2-item">&lt;a href="#" class="node2-link">Menu53&lt;/a>&lt;/li>
																		&lt;li class="node2-item">&lt;a href="#" class="node2-link">Menu54&lt;/a>&lt;/li>
																	&lt;/ul>
																&lt;/div>
															&lt;/li>
														&lt;/ul>
													&lt;/div>
												&lt;/nav>
											&lt;/div>
											&lt;button type="button" class="btn btn-anb aside-menu-close" aria-controls="asideMenu" aria-expanded="true">&lt;span>전체메뉴 닫기&lt;/span>&lt;/button>
										&lt;/aside>
										&lt;!-- //Aside -->

										&lt;!-- Header -->
										&lt;header id="header" class="out-sec">
											&lt;div class="header-inner in-sec">
												&lt;div class="header-logo">
													&lt;a href="#" class="logo">LOGO&lt;/a>
												&lt;/div>
												&lt;div class="header-anb">
													&lt;button type="button" class="btn btn-anb aside-menu-open" aria-controls="asideMenu" aria-expanded="false">&lt;span>전체메뉴 보기&lt;/span>&lt;/button>
												&lt;/div>
												&lt;div class="header-gnb">
													&lt;nav class="gnb">
														&lt;div class="node1-wrap">
															&lt;ul class="node1-list">
																&lt;li class="node1-item is-current">
																	&lt;a href="#" class="node1-link">MENU1&lt;/a>
																	&lt;div class="node2-wrap">
																		&lt;ul class="node2-list">
																			&lt;li class="node2-item">&lt;a href="#" class="node2-link">MENU11&lt;/a>&lt;/li>
																			&lt;li class="node2-item">&lt;a href="#" class="node2-link">MENU12&lt;/a>&lt;/li>
																			&lt;li class="node2-item">&lt;a href="#" class="node2-link">MENU13&lt;/a>&lt;/li>
																			&lt;li class="node2-item">&lt;a href="#" class="node2-link">MENU14&lt;/a>&lt;/li>
																		&lt;/ul>
																	&lt;/div>
																&lt;/li>
																&lt;li class="node1-item">
																	&lt;a href="#" class="node1-link">MENU2&lt;/a>
																	&lt;div class="node2-wrap">
																		&lt;ul class="node2-list">
																			&lt;li class="node2-item">&lt;a href="#" class="node2-link">MENU21&lt;/a>&lt;/li>
																			&lt;li class="node2-item">&lt;a href="#" class="node2-link">MENU22&lt;/a>&lt;/li>
																			&lt;li class="node2-item">&lt;a href="#" class="node2-link">MENU23&lt;/a>&lt;/li>
																			&lt;li class="node2-item">&lt;a href="#" class="node2-link">MENU24&lt;/a>&lt;/li>
																		&lt;/ul>
																	&lt;/div>
																&lt;/li>
																&lt;li class="node1-item">
																	&lt;a href="#" class="node1-link">MENU3&lt;/a>
																	&lt;div class="node2-wrap">
																		&lt;ul class="node2-list">
																			&lt;li class="node2-item">&lt;a href="#" class="node2-link">MENU31&lt;/a>&lt;/li>
																			&lt;li class="node2-item">&lt;a href="#" class="node2-link">MENU32&lt;/a>&lt;/li>
																			&lt;li class="node2-item">&lt;a href="#" class="node2-link">MENU33&lt;/a>&lt;/li>
																			&lt;li class="node2-item">&lt;a href="#" class="node2-link">MENU34&lt;/a>&lt;/li>
																		&lt;/ul>
																	&lt;/div>
																&lt;/li>
																&lt;li class="node1-item">
																	&lt;a href="#" class="node1-link">MENU4&lt;/a>
																	&lt;div class="node2-wrap">
																		&lt;ul class="node2-list">
																			&lt;li class="node2-item">&lt;a href="#" class="node2-link">MENU41&lt;/a>&lt;/li>
																			&lt;li class="node2-item">&lt;a href="#" class="node2-link">MENU42&lt;/a>&lt;/li>
																			&lt;li class="node2-item">&lt;a href="#" class="node2-link">MENU43&lt;/a>&lt;/li>
																			&lt;li class="node2-item">&lt;a href="#" class="node2-link">MENU44&lt;/a>&lt;/li>
																		&lt;/ul>
																	&lt;/div>
																&lt;/li>
																&lt;li class="node1-item">
																	&lt;a href="#" class="node1-link">MENU5&lt;/a>
																	&lt;div class="node2-wrap">
																		&lt;ul class="node2-list">
																			&lt;li class="node2-item">&lt;a href="#" class="node2-link">MENU51&lt;/a>&lt;/li>
																			&lt;li class="node2-item">&lt;a href="#" class="node2-link">MENU52&lt;/a>&lt;/li>
																			&lt;li class="node2-item">&lt;a href="#" class="node2-link">MENU53&lt;/a>&lt;/li>
																			&lt;li class="node2-item">&lt;a href="#" class="node2-link">MENU54&lt;/a>&lt;/li>
																		&lt;/ul>
																	&lt;/div>
																&lt;/li>
															&lt;/ul>
														&lt;/div>
													&lt;/nav>
												&lt;/div>
											&lt;/div>
										&lt;/header>
										&lt;!-- //Header -->

										&lt;!-- Container -->
										&lt;div id="container">
											&lt;div id="content" class="content">
												&lt;div class="content-header out-sec">
													&lt;div class="in-sec">

													&lt;/div>
												&lt;/div>
												&lt;div class="content-body">
													&lt;div class="section-wrap out-sec">
														&lt;section class="section in-sec">

														&lt;/section>
													&lt;/div>
												&lt;/div>
											&lt;/div>
										&lt;/div>
										&lt;!-- //Container -->

										&lt;!-- Footer -->
										&lt;footer id="footer" class="out-sec">
											&lt;div class="footer-inner in-sec">
												Footer Area
											&lt;/div>
										&lt;/footer>
										&lt;!-- //Footer -->
									&lt;/div>
								</pre>
							</div>
							<div class="g-example-footer">
								<pre class="brush:css">
									/*-------------------------------------------------------------------
										## Wrapper
									-------------------------------------------------------------------*/
									/* SkipNav */
									#skipNav {position:absolute; left:0; top:0; width:100%; height:0;}
									#skipNav a {display:block; position:absolute; left:0; bottom:0; width:100%; line-height:30px; background-color:#000; color:#fff; text-align:center; transform:translateY(0);}
									#skipNav a:focus {transform:translateY(100%);}

									/* Wrapper Layout */
									html, body, #wrapper {height:100%;}
									#asideMenu {display:none; position:fixed; z-index:1001; left:0; right:0; width:100%; height:100%; padding:20px; background-color:#fff;}
									#header {position:absolute; z-index:103; top:0; left:0; width:100%; height:80px; background-color:#fff; border-bottom:1px solid #ddd;}
									#container {min-height:100%; padding:80px 0;}
									#footer {position:absolute; z-index:102; bottom:0; left:0; width:100%; height:80px; background-color:#fff; color:#000; border-top:1px solid #ddd;}

									/* Common Layout */
									.out-sec {position:relative; min-width:1200px;}
									.in-sec {position:relative; max-width:1200px; margin:auto;}
									@media screen and (max-width: 1319px) {
										.out-sec {min-width:320px;}
										.in-sec {margin-right:20px; margin-left:20px;}
									}

									/*-------------------------------------------------------------------
										## Allmenu
									-------------------------------------------------------------------*/
									.aside-menu .btn-anb {position:absolute; right:20px; top:18px;}

									/*-------------------------------------------------------------------
										## Header
									-------------------------------------------------------------------*/
									/* Header Layout */
									.header-inner {height:100%;}
									.header-logo {position:absolute; left:0; top:50%; transform:translateY(-50%);}
									.header-logo .logo {color:#000; font-size:20px;}
									.header-anb {position:absolute; right:0; top:50%; transform:translateY(-50%);}
									.header-gnb {position:absolute; right:0; top:25px;}
									@media screen and (min-width: 1024px) {
										.header-anb {display:none;}
										.header-gnb {display:block;}
									}
									@media screen and (max-width: 1023px) {
										.header-anb {display:block;}
										.header-gnb {display:none;}
									}

									/* gnb - Base */
									.gnb .node1-list {position:relative; white-space:nowrap; margin:0 -10px;}
									.gnb .node1-item {display:inline-table; position:relative; padding:0 10px;}
									.gnb .node1-link {display:block; position:relative; padding:0 15px; line-height:30px; color:#555;}
									.gnb .node1-link:after {content:''; position:absolute; bottom:0; left:50%; right:50%; height:2px; background-color:#000; transition:left right 0.3s;}
									.gnb .node2-wrap {display:none; position:absolute; left:50%; top:100%; padding-top:5px; transform:translateX(-50%);  transform:translateX(-50%);}
									.gnb .node2-list {padding:10px 5px; background-color:#fff; border:1px solid #ddd; border-radius:3px;}
									.gnb .node2-link {display:block; padding:0 15px; line-height:24px; font-size:12px; color:#333;}

									/* gnb - Active */
									.gnb .node1-link:focus,
									.gnb .node1-link:hover,
									.gnb .node1-link:active,
									.gnb .is-active > .node1-link,
									.gnb .is-current > .node1-link {color:#000;}
									.gnb .is-current > .node1-link:after {left:15px; right:15px;}
									.gnb .node2-link:focus,
									.gnb .node2-link:hover,
									.gnb .node2-link:active,
									.gnb .is-active > .node2-link,
									.gnb .is-current > .node2-link {color:#000;}
									.gnb .is-active > .node2-wrap {display:block;}

									/*-------------------------------------------------------------------
										## Footer
									-------------------------------------------------------------------*/
									.footer-inner {padding:20px 0;}

									/*-------------------------------------------------------------------
										## Buttons
									-------------------------------------------------------------------*/
									.btn-anb {display:inline-block; position:relative; width:44px; height:44px; padding:10px 0;}
									.btn-anb:before, .btn-anb:after {content:'';}
									.btn-anb span, .btn-anb:before, .btn-anb:after {display:inline-block; position:absolute; left:10px; top:50%; width:24px; height:2px; background:#000; vertical-align:top; transform:translateY(-50%);}
									.btn-anb:before {margin-top:-8px;}
									.btn-anb span {width:16px; text-indent:-999px; overflow:hidden; white-space:nowrap;}
									.btn-anb:after {margin-top:8px;}
								</pre>
							</div>
							<div class="g-example-footer">
								<pre class="brush:js">
									var ui = {
										init : function(){
											this.gnb.init();
											this.asideMenu.init();
										},
										gnb : {
											eleNode1_list	: '.gnb .node1-list',
											eleNode1_item	: '.gnb .node1-item',
											eleNode1_link	: '.gnb .node1-link',
											eleNode2_wrap	: '.gnb .node2-wrap',
											eleNode2_item	: '.gnb .node2-item',
											eleNode2_link	: '.gnb .node2-link',
											node1_idx		: 0,
											node2_idx		: 0,
											init : function(){
												this.reset();
												this.event();
											},
											reset : function(){
												$(this.eleNode1_item).attr('data-state', 'close');
												$(this.eleNode1_item).eq(this.node1_idx).addClass('is-current').siblings('.is-current').removeClass('is-current');
												$(this.eleNode2_item).eq(this.node2_idx).addClass('is-current').siblings('.is-current').removeClass('is-current');
											},
											event : function(){
												var _this = this;
												//Toggle
												$(this.eleNode1_link).not('.is-toggled').on('click', function(){
													var idx = $(this).parent().index();
													var $activeItem = $(this).parent().siblings();
													if ($(this).parent().attr('data-state') == 'open'){_this.close($(this).parent());}
													else if ($(this).parent().attr('data-state') == 'close'){_this.open(idx);}
													return false;
												}).addClass('is-toggled');
												//Open
												$(this.eleNode1_link).not('.is-mouseentered').on('mouseenter', function(){
													var idx = $(this).parent().index();
													var $activeItem = $(this).parent().siblings();
													_this.open(idx);
												}).addClass('is-mouseentered');
												//Close
												$(this.eleNode1_list).not('.is-mouseleaved').on('mouseleave', function(){
													var $activeItem = $(_this.eleNode1_item).filter('.is-active');
													_this.close($activeItem);
												}).addClass('is-mouseleaved');
												//Area Leave
												$(document).on('focusin click', function(e){
													if ($(_this.eleNode1_list).has(e.target).length == 0){
														var $activeItem = $(_this.eleNode1_item+'.is-active');
														_this.close($activeItem);
													}
												});
											},
											open : function(idx){
												$(this.eleNode1_item).eq(idx).addClass('is-active').attr('data-state', 'open');
												this.close($(this.eleNode1_item).eq(idx).siblings('.is-active'));
											},
											close : function($activeItem){
												$activeItem.removeClass('is-active').attr('data-state', 'close');
											},
										},
										asideMenu : {
											eleModule : '.aside-menu',
											eleOpener : '.aside-menu-open',
											eleCloser : '.aside-menu-close',
											init : function(){
												this.event();
											},
											event : function(){
												var _this = this;
												//Opener
												$(this.eleOpener).not('.is-clicked').on('click', function(){
													var id = $(this).attr('aria-controls');
													_this.open(id);
												}).addClass('is-clicked');
												//Closer
												$(this.eleCloser).not('.is-clicked').on('click', function(){
													var id = $(this).attr('aria-controls');
													_this.close(id);
												}).addClass('is-clicked');
											},
											open : function(id){
												var $module = $('#'+id);
												$module.show();
											},
											close : function(id){
												var $module = $('#'+id);
												$module.hide();
											},
										}
									}
									$(document).ready(function(){
										ui.init();
									})
								</pre>
							</div>
						</div>
					</div>
				</section>
				<!-- //Section -->
			</div>
		</article>
		<!-- //Content -->

		<script>include.quick.init()</script>
	</div>
	<script>include.footer()</script>
</div>
</body>
</html>