@charset "utf-8";
/*-------------------------------------------------------------------
	파일정의 : Settings
	작성날짜 : 2018-11-18 조찬기
	참고사항 : 이 파일은 설정값만 정의한다.
	분류순서 : 기본정책 > 유틸리티 > 사용자정의(컬러, 폰트, 보더, 간격 등)
	속성순서 : 표시 > 위치 > 넘침/흐름 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
	Variables
-------------------------------------------------------------------*/
/* 기본정책 */
$base-width:1200px;
$base-gutter:20px;

/* 컬러 - 명암 */
$color-none:transparent;
$color-white:white;
$color-black:black;
$color-gray:gray;
$color-gray-2:#222;
$color-gray-3:#333;
$color-gray-4:#444;
$color-gray-5:#555;
$color-gray-6:#666;
$color-gray-7:#777;
$color-gray-8:#888;
$color-gray-9:#999;
$color-gray-a:#aaa;
$color-gray-b:#bbb;
$color-gray-c:#ccc;
$color-gray-d:#ddd;
$color-gray-e:#eee;
$color-gray-f:#f8f8f8;

/* 컬러 - 의미 */
$color-basic:#333;
$color-success:#47a104;
$color-warning:#e9b500;
$color-danger:#d45704;
$color-error:#ff0000;
$color-info:#949494;
$color-primary:#0089b3;
$color-primary-dark:#006d8e;
$color-primary-light:#2496ee;
$color-secondary:#54873c;

/* 컬러 - 채도 */
$color-red:red;

/*-------------------------------------------------------------------
	@Extend
	- 클래스선택자를 정의할 경우 common.css에 정의한다.
	- 선언 : %selector1
	- 활용 : selector2 {@extend %selector1}
-------------------------------------------------------------------*/
/* Floating Clear */
%clear {content:''; clear:both; display:block;} /* selector::after {@extend %clear-b;} */

/* Layer Align */
%centered-t {position:absolute !important; left:50%; top:0; transform:translateX(-50%);}
%centered-r {position:absolute !important; right:0; top:50%; transform:translateY(-50%);}
%centered-b {position:absolute !important; left:50%; bottom:0; transform:translateX(-50%);}
%centered-l {position:absolute !important; left:0; top:50%; transform:translateY(-50%);}
%centered-c {position:absolute !important; left:50%; top:50%; transform:translate(-50%,-50%);}

/*-------------------------------------------------------------------
	@include
	- 선언 : @mixin mixTransition($value) {property:$value}
	- 활용 : selector {@include mixTransition(all 0.3s)}
-------------------------------------------------------------------*/
/* CSS3 - CrossBrowser */
@mixin mixBorderRadius($value) {border-radius: $value; -webkit-border-radius: $value;}
@mixin mixBoxShadow($value) {box-shadow: $value; -webkit-box-shadow: $value;}
@mixin mixTransition($value) {transition: $value; -webkit-transition: $value;}
@mixin mixTransform($value) {transform: $value; -webkit-transform: $value; -moz-transform: $value; -ms-transform: $value; -o-transform: $value;}