@charset 'utf-8';
/*-------------------------------------------------------------------
	파일정의 : 초기화 스타일
	작성날짜 : 2019-04-27 조찬기
	분류순서 : Base > Fonts
	속성순서 : 표시 > 위치 > 넘침/흐름 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    ## Reset
-------------------------------------------------------------------*/
html, body, div, ul, ol, dl, li, dt, dd, p, h1, h2, h3, h4, h5, h6, table, th, td, caption, address, article, aside,
canvas, details, figure, figcaption, footer, header, menu, nav, section,
button, select, textarea, input, fieldset, legend, a, span, strong, em, address, dfn, small, i, b {margin:0; padding:0; border:0; list-style:none; font-style:normal; font-size:100%; font-weight:inherit; font-family:inherit; box-sizing:inherit; -webkit-box-sizing:inherit; -moz-box-sizing:inherit; -o-box-sizing:inherit;}
:before, :after {box-sizing:inherit; -webkit-box-sizing:inherit; -moz-box-sizing:inherit; -o-box-sizing:inherit;}
article, aside, canvas, details, figure, figcaption, footer, header, menu, nav, section {display:block;}
body {font-size:14px; line-height:1; word-break:keep-all; word-wrap:word-break; box-sizing:inherit; -webkit-box-sizing:inherit; -moz-box-sizing:inherit; -o-box-sizing:inherit; -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none;}
html[lang=ja] body, html[lang=zh] body {word-break:normal;}
[hidden], hr {display:none;}
img {vertical-align:middle;}
button {background-color:transparent; cursor:pointer;}
b, strong {font-weight:normal;}
fieldset, iframe {width:100%;}
img, a, frame, iframe, fieldset {border:0;}
a {color:#333; text-decoration:none;}
a:active, a:visited, a:link {color:#333;}
a:hover {color:#333}
table {width:100%; border-spacing:0; border-collapse:collapse;}
caption {display:block; position:absolute; left:-9999px;}
legend {position:absolute; left:-9999em; top:-9999em;}
button {overflow:hidden; background-color:transparent; cursor:pointer;}
button::-moz-focus-inner {border:0px; padding:0px;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color:#999;}/* IE 10 + */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color:#999;}/* Webkit Browser */
input:-moz-placeholder, textarea:-moz-placeholder {color:#999;}/* Mozilla Firefox 4 to 18 */
input::-moz-placeholder, textarea::-moz-placeholder {color:#999;}/* Mozilla Firefox 19+ */
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {color:transparent;}/* IE 10 + */
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {color:transparent;}/* Webkit Browser */
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {color:transparent;}/* Mozilla Firefox 4 to 18 */
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {color:transparent;}/* Mozilla Firefox 19+ */
input {box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; border:0px; vertical-align:middle;}
textarea {width:100%; vertical-align:middle; resize:none;}
select {appearance:none; -webkit-appearance:none; -moz-appearance:none; -o-appearance:none;}
select::-ms-expand {display:none;}
:root select {padding:0px 30px 0px 5px;}
.ie9 select {padding:5px 35px 4px 5px;background:none;}
.ie9 :root select {padding:0; font-size:0;}

/*-------------------------------------------------------------------
    ## Fonts
-------------------------------------------------------------------*/
@font-face {font-family:"roboto-l"; src:url('../fonts/Roboto-Light.woff') format('woff');}
@font-face {font-family:"roboto-r"; src:url('../fonts/Roboto-Regular.woff') format('woff');}
@font-face {font-family:"roboto-m"; src:url('../fonts/Roboto-Medium.woff') format('woff');}
@font-face {font-family:"roboto-b"; src:url('../fonts/Roboto-Bold.woff') format('woff');}

@font-face {font-family:"noto-dl"; src:url('../fonts/NotoSans-DemiLight.eot'); src:local('※'), url('../fonts/NotoSans-DemiLight.eot?#iefix') format('embedded-opentype'), url('../fonts/NotoSans-DemiLight.woff') format('woff');}
@font-face {font-family:"noto-l"; src:url('../fonts/NotoSans-Light.eot'); src:local('※'), url('../fonts/NotoSans-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/NotoSans-Light.woff') format('woff');}
@font-face {font-family:"noto-r"; src:url('../fonts/NotoSans-Regular.eot'); src:local('※'), url('../fonts/NotoSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/NotoSans-Regular.woff') format('woff');}
@font-face {font-family:"noto-m"; src:url('../fonts/NotoSans-Medium.eot'); src:local('※'), url('../fonts/NotoSans-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/NotoSans-Medium.woff') format('woff');}
@font-face {font-family:"noto-b"; src:url('../fonts/NotoSans-Bold.eot'); src:local('※'), url('../fonts/NotoSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/NotoSans-Bold.woff') format('woff');}
